credentials.yaml
customer_activity.csv 
customer_activity_null_skew_transformed.csv
customer_activity_transformed.csv
test.ipynb
test.py
/__pycache__
scrap_notebook.ipynb
scrap_nb_2.ipynb
Analysis_scrap.ipynb

